body {
  background: #f4f4f4;
}

.container {
  font-family: 'Lexend Exa', sans-serif;

}

body > div > h1 {
  background-color: #b7b3b336;
  text-align: center;
  height: max-content;
  width: auto;
  margin: 0;
  padding: 20px;
  font-size: xx-large;
  position: relative;
  border-radius: 10px;

  
  
}

.responsibilities {
height: auto;
width: auto;
padding: 20px 100px 0px 0px;
font-size: larger;

}

.biomed {
  padding-left: 50px;
}


